* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

#one, #two, #three, #four, #five {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#one {
  grid-area: one;
  background-image: url("../images/02-portfolio-1.jpg");

}

#two {
  grid-area: two;
  background-image: url("../images/02-portfolio-2.jpg");
}

#three {
  grid-area: three;
  background-image: url("../images/02-portfolio-3.jpg");
}

#four {
  grid-area: four;
  background-image: url("../images/02-portfolio-4.jpg");
}

#five {
  grid-area: five;
  background-image: url("../images/02-run-buddy.jpg");
}

/* Grid definitions */


.page-section {
  display: grid;
}

#about {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:". .";
}

#work {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh 10vh 10vh 10vh;
  grid-template-areas:"zero one one"
                      "zero one one"
                      "zero two three"
                      "zero four five";
}

#contact {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". . .";
}



/* Responsive media queries*/

