:root {
  --primary-color: #1D3461;
  --secondary-color: #E84855;
  --tertiary-color: #74A4BC;
}

* {
  box-sizing: border-box;
  color: var(--primary-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  background-color: var(--tertiary-color);
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
}

h1, h3, #red {
  background-color: var(--secondary-color);
}

nav a{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}


h3, #red {
  display: inline-block;
}

.hero-banner {
  height: 150px;
  width: 100%;
  background-image: url("../images/02-hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner div {
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#one, #two, #three, #four, #five {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#one {
  grid-area: one;
  background-image: url("../images/02-portfolio-1.jpg");

}

#two {
  grid-area: two;
  background-image: url("../images/02-portfolio-2.jpg");
}

#three {
  grid-area: three;
  background-image: url("../images/02-portfolio-3.jpg");
}

#four {
  grid-area: four;
  background-image: url("../images/02-portfolio-4.jpg");
}

#five {
  grid-area: five;
  background-image: url("../images/02-run-buddy.jpg");
}

/* Grid definitions */


.page-section {
  display: grid;
}

#about {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:". .";
}

#work {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh 10vh 10vh 10vh;
  grid-template-areas:"zero one one"
                      "zero one one"
                      "zero two three"
                      "zero four five";
}

#contact {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". . .";
}



/* Responsive media queries*/

